Google_Sheet_Workflow.json
{
  "name": "Google_Sheet_Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nYou are an assistant that receives user input: {{ $json.query }}.  \nYour job is to detect the user’s intent and call the correct Google Sheets tool with the required parameters.\n\n# Tools  \n- Clear_Sheet: Clear all content in a sheet.\n-Append_Row: Add a new row of data to the Google Sheet based on the chatInput* add the data the client ask for*\n- Create_Sheet: Create a new sheet in an existing spreadsheet.  \n- Delete_Sheet: Delete a specific sheet from a spreadsheet (ask for confirmation first).  \n- Delete_Rows/Columns: Delete one or more rows or columns from a sheet (ask for confirmation first).  \n- Get_Rows: Retrieve data from a sheet.  \n- Updated_Row: Update the values of an existing row in a sheet.  \n- Create_SpreadSheet: Create a new spreadsheet file.  \n- Delete_SpreadSheet: Delete an entire spreadsheet (ask for confirmation first).  \n\n# Instructions\n1. Identify the user’s intent: add values to cells| clear sheet | create sheet | delete sheet | delete rows/columns | get rows | update row | create spreadsheet | delete spreadsheet.  \n2. Always clarify the **target spreadsheet and sheet names** if not explicitly given.  \n3. Call the correct tool with all required parameters\n4. If details are missing or there are multiple matches, ask for clarification.  \n5. Always confirm before performing destructive actions (delete/clear).  \n6. Respond concisely with a confirmation of what was done\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "9eafc462-f72b-47ff-b3a9-dddfadf09cfe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        220
      ],
      "id": "7c155880-2697-40a7-99d1-60ef7be38e11",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dmq4VVpBu4CmtU1l",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        540,
        520
      ],
      "id": "7d43475d-c01b-48e5-a8cf-fa76d4c4ec55",
      "name": "Append_Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N06nTSiimKMNE7NI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        940,
        440
      ],
      "id": "4f594928-1539-4c75-8191-3f72456ea21a",
      "name": "Clear_Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N06nTSiimKMNE7NI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        860,
        460
      ],
      "id": "d3bc7ed9-e126-4785-ae02-797fef4e3539",
      "name": "Create_Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N06nTSiimKMNE7NI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "remove",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        980,
        540
      ],
      "id": "8a7ccd36-acc4-4e4f-9574-1bfe985e539e",
      "name": "Delete_Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N06nTSiimKMNE7NI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1100,
        500
      ],
      "id": "841e0316-ea5c-44e2-9844-8bd75095c5ea",
      "name": "Delete_Rows/Columns",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N06nTSiimKMNE7NI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        880,
        560
      ],
      "id": "433d0df5-01a8-4c03-8ddb-fe85c339c460",
      "name": "Get_Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N06nTSiimKMNE7NI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        380,
        540
      ],
      "id": "e120cb01-e259-48fa-b8e8-590e9a7436a8",
      "name": "Updated_Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N06nTSiimKMNE7NI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1100,
        360
      ],
      "id": "a16d366c-2b3b-4209-b906-bb9f424c1ab3",
      "name": "Create_SpreadSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N06nTSiimKMNE7NI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "deleteSpreadsheet",
        "documentId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1240,
        480
      ],
      "id": "7e6636fb-8964-498b-89af-ade079d0f4bd",
      "name": "Delete_SpreadSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N06nTSiimKMNE7NI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        120,
        0
      ],
      "id": "e7d6bfb0-48bc-4789-9a0a-826e24cfd97b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        540,
        220
      ],
      "id": "65094d7e-c710-48b8-9414-8c41c84b41b2",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Add a row to the spreadsheet named 'Invoices'."
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append_Row": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clear_Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete_Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete_Rows/Columns": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Rows": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Updated_Row": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_SpreadSheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete_SpreadSheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "964707b0-7335-4423-b728-aff8d182cbf6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ab3ed433c7d391ae73ed457b6cd1bad66ec5f00c3f8ec84595b45ccc6d2fdf8"
  },
  "id": "Leb8skvRbnmyOvHA",
  "tags": []
}