My workflow 14.json
{
  "name": "My workflow 14",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1968,
        -848
      ],
      "id": "2699ae18-50cb-4ae8-9b63-52680b4b804f",
      "name": "Telegram Trigger",
      "webhookId": "2241047f-edfa-4100-ba4e-81ff9c2a0868",
      "credentials": {
        "telegramApi": {
          "id": "2AcLtIoHbcRIUjJa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }} or {{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n-Call_Invoice: Use when On form submitted trigger used\n- Call_Gmail: Use this tool to take action in email\n- Call_Calendar: Use this tool to take action in calendar.\n- Call_Google_Drive: Use this tool to take action in Google Drive\n- Call_Google_Sheets: Use this tool to take action in Google Sheets\n- Tavily1: Use for search on the internet\n- RAG tool: Use it for answering questions about tax rules and/or legislation documents or anything related to la ley de IVA and/or IRPF/Impuesto a Las Personas Fisicas (always translate the answer from Spanish to English)\n- Reply: Use this tool to send the results to the user\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get email address and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n- Answering language always in English\n- Always use Reply when the action is completed\n## Instructions\n1) Call the neccessary tools based on the user request\n\n\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -608,
        -912
      ],
      "id": "b8270bf5-cd42-4c58-8685-ab3a309c278d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -752,
        -752
      ],
      "id": "3a03eda2-aad7-4996-b960-e47858af4e6b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mGxLAQbKd7NlVWzp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GjceqjQHcycWFhhN",
          "mode": "list",
          "cachedResultUrl": "/workflow/GjceqjQHcycWFhhN",
          "cachedResultName": "Google_Sheet_Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -64,
        -656
      ],
      "id": "30338ad7-26ac-4f15-984a-05a4b7ab8e94",
      "name": "Call_Google_Sheet"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lhCOTuG4SKZd0FrM",
          "mode": "list",
          "cachedResultUrl": "/workflow/lhCOTuG4SKZd0FrM",
          "cachedResultName": "Google_Driver_Files"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -272,
        -640
      ],
      "id": "95e9a462-3b53-4fbe-a94d-c4e13f63c0b7",
      "name": "Call_Google_Drive"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5sKqSUe4eGTGdAzW",
          "mode": "list",
          "cachedResultUrl": "/workflow/5sKqSUe4eGTGdAzW",
          "cachedResultName": "Gmail_Assistant"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -112,
        -800
      ],
      "id": "811a4f6e-422f-44ba-9d8a-f40b119ba998",
      "name": "Call_Gmail"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to write a blog about",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        48,
        -784
      ],
      "id": "3a477423-90e0-46ec-8b43-b0757c424524",
      "name": "Tavily1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -608,
        -720
      ],
      "id": "13b5a683-85a4-457d-b049-b415da37ec61",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "wJHuAcFXLAXjLs03",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        -656,
        -464
      ],
      "id": "baee5b43-e6ed-420e-a899-66f218952c27",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "2RSuCZ4QXoCgc19f",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -608,
        -304
      ],
      "id": "b705f62a-ccc6-4216-b0ed-d25a364cdfd1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mGxLAQbKd7NlVWzp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -368,
        -464
      ],
      "id": "39b49702-1510-468a-bf50-29017ed4e4e4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "mGxLAQbKd7NlVWzp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -528,
        -624
      ],
      "id": "0d89e958-12bf-40f9-8b69-475c6cc52e0d",
      "name": "RAG tool"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SHMYr7PShzYQaAuL",
          "mode": "list",
          "cachedResultUrl": "/workflow/SHMYr7PShzYQaAuL",
          "cachedResultName": "Google_Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -272,
        -800
      ],
      "id": "39a33196-2fbb-47fc-b4e3-476679303d8a",
      "name": "Call_Calendar"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -928
      ],
      "id": "b269bbcc-d17f-425a-95bd-0b89cade1445",
      "name": "Reply",
      "webhookId": "a979e506-f130-4240-ba90-575e5b5fa334",
      "credentials": {
        "telegramApi": {
          "id": "dApvA300yyeyTW2d",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fcfca225-fd73-4141-bdcb-1aa1e94259f8",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9ccf000a-a1e8-4803-b9ec-545674b9f5e7",
                    "leftValue": "={{ $json.message.document.thumbnail.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52871b14-47dd-4cda-8efb-e02769586f71",
                    "leftValue": "={{ $json.message.photo[3]}}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jpg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "654c6847-985b-41c1-8b2c-5321262464a5",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1520,
        -848
      ],
      "id": "7f928c1a-a0be-4f7d-8a23-29b7f96868f1",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -880,
        -1200
      ],
      "id": "347cb88b-ae04-4fb8-8bfd-13e96e5991e6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1OGqQQjG3rYSj-y6M1dBwSJx2mOLSditsb_Ws3VjJPP4",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OGqQQjG3rYSj-y6M1dBwSJx2mOLSditsb_Ws3VjJPP4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OGqQQjG3rYSj-y6M1dBwSJx2mOLSditsb_Ws3VjJPP4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Invoice_Number__using_to_match_', ``, 'string') }}",
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "Quality Percentage of Data Taken": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quality_Percentage_of_Data_Taken', ``, 'string') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Total Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Amount', ``, 'string') }}"
          },
          "matchingColumns": [
            "Invoice Number"
          ],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quality Percentage of Data Taken",
              "displayName": "Quality Percentage of Data Taken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -256,
        -1072
      ],
      "id": "67dc573e-1c18-43f4-b4fb-36fdf69b2612",
      "name": "AppendInfo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9kF0bw8rhTMqx5cZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n# Role\nYou are an assistant that receives structured client information  {{ $json['0'].content[0].text }} and must write it into Google Sheets.  \n\n# Instructions\n- Always use the tool AppendInfo.  \n- Always use Reply when the action is completed",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -352,
        -1264
      ],
      "id": "6190f653-29ec-4abd-bbb8-382076793b1d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -368,
        -1072
      ],
      "id": "21272e42-a447-4e5a-a791-5fe89b179562",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "mGxLAQbKd7NlVWzp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.thumbnail.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -1184
      ],
      "id": "8e8d1810-6968-4f26-b2d3-e183c12e9d3f",
      "name": "Get a file",
      "webhookId": "67f0ae55-05ca-4c6a-a795-e71deb3196e0",
      "credentials": {
        "telegramApi": {
          "id": "dApvA300yyeyTW2d",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -720,
        -1200
      ],
      "id": "0afd548c-bc52-447e-a01a-926e04f67160",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "## Task\nUsing the input provided in data, extract thefields and return them as **separate outputs** (one per line).  \n\nFields to extract:  \n- Invoice Number(Create random for id)\n- Date for\n-  Name  of the Business issuing the bill\n- Total Amount  \n\n\n### Output format:\nEach field must be returned on a **new line** like this:\n\nInvoice Number: 100  \nDate: 2025-03-10  \nClient Name: Enrique  \nEmail: example@email.com  \nTotal Amount: 100.00 DKK  \nPayment Terms: 15 days  \nLine Item: Consultation - Qty: 1, Unit Price: 100.00, Amount: 100.00  \nQuality percentage of data taken: 90%\n### Rules:\n1. Do not return JSON.  \n2. Do not group results together.  \n3. Each field must be in its own line with the format `Field: Value`.  \n4. If a field is missing, still include it with an empty value.  \n5. Return a percentage for the quality of data taken ",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -544,
        -1264
      ],
      "id": "4e88335f-673c-418f-a1fc-c05094ef3395",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "mGxLAQbKd7NlVWzp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -1344
      ],
      "id": "845cc5d7-4181-45fe-b2e6-df51dfa314d2",
      "name": "Get a file1",
      "webhookId": "67f0ae55-05ca-4c6a-a795-e71deb3196e0",
      "credentials": {
        "telegramApi": {
          "id": "dApvA300yyeyTW2d",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -864,
        -1360
      ],
      "id": "0b5329ce-eda0-40fb-b148-8e5c875db2b5",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -704,
        -1360
      ],
      "id": "d3432222-f9cd-4f7c-a2e1-a85ab5a1bced",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1312,
        -640
      ],
      "id": "d63310f9-41ce-4cad-a2c5-d4fa33f1459d",
      "name": "Get a file2",
      "webhookId": "29bc7440-a60e-4119-afdf-ec1f19932700",
      "credentials": {
        "telegramApi": {
          "id": "dApvA300yyeyTW2d",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1040,
        -608
      ],
      "id": "e2ffc4b6-f78e-4f18-b9b6-9f43e166cf92",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "mGxLAQbKd7NlVWzp",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call_Google_Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call_Google_Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call_Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "RAG tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call_Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AppendInfo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file2": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a1782e94-b312-41b3-9981-4afae96ee323",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06bfeb92a0ece967eea34eedab365de310de8c800ca11543fa1aa1f73eb3d0a3"
  },
  "id": "Nq7w6cMsgJY56Wyy",
  "tags": []
}